.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.left-header{
    flex: 1;
}

.middle{
    flex: 2;
    text-align: center;
}

.right-header{
    flex:1;
    text-align: right;
}

.logo {
    height: 50px;
    width: auto;
}

h1{
    margin: 0;
    font-size: 24px;
}

.button{
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}