/* .Logcontainer{
    display: flex;
    gap: 10px;
} */

.header_optionLineOne{
    color: black;
    
}

.header_optionLineTwo{
    color: black;
    /* padding: 10px; */
    
}

a{
    text-decoration: none;
    color:black;
}